.list-group {
  background-color: white;
  width: 300px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  overflow: hidden;
}

.list-group li {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin: 0;
}

.list-group li:first-child {
  border-top: none;
}

.list-group li:last-child {
  border-bottom: none;
}

.list-group li:nth-child(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group li a {
  color: black;
  text-decoration: none;
}
