.list-group {
  background-color: white;
  width: 300px;
  height: auto;
  list-style: none;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
}

.list-group li {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  margin: 0;
}

.list-group li:last-child {
  border-bottom: none;
}
